div.tables {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

div.promote {
  width: 50ch;
}

div.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

div.search.violations {
  max-width: 70ch;
}

div.promote > div.member {
  margin-top: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75rem;
  padding: 1rem;
  box-shadow: 0 0.25rem 1rem 0 var(--color-shadow);
  border: solid 1px var(--color-shadow);
  border-radius: 5px;
}
