div.select {
  position: relative;
  width: 100%;
  height: 2.25rem;
  max-width: 20ch;
}

div.select.fullWidth {
  max-width: unset;
}

div.select > select {
  width: 100%;
  height: 100%;
  padding: 0 0.125rem 0 0.75rem;

  border-radius: 5px;

  font-size: 0.875rem;
  font-weight: bold;
}

div.select > select > option {
  background: var(--color-white);
  color: var(--color-black);
}

div.select > select:focus {
  outline: none;
}
