nav.side {
  width: 15rem;
  height: 100%;
  padding: 1rem 0;

  background: var(--color-black);
  color: var(--color-white);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

div.links {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

a.link {
  padding: 1.25rem 0 1.25rem 2rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;

  border-right: solid 10px var(--color-none);
  transition: 125ms ease-in-out;
}

a.link:hover,
a.link.active {
  border-color: var(--color-blue);
}

div.footer {
  width: 100%;
  padding: 0 1.25rem;
}
