nav.side {
  width: 15rem;
  height: 100%;
  padding: 1rem 0;

  background: var(--color-black);
  color: var(--color-white);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

div.links {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

div.links > a.link {
  padding: 0.75rem 0 0.75rem 2rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-right: solid 10px var(--color-blue);
}
