div.table {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  max-height: 60vh;
  min-height: 14rem;

  box-shadow: 0 0.25rem 1rem 0 var(--color-shadow);
  border: solid 1px var(--color-shadow);
  border-radius: 5px;
}

div.table > div.header {
  padding: 0.75rem;
  display: flex;
  flex-flow: row nowrap;
  position: sticky;
  top: 0;
  background: var(--color-white);
  box-shadow: 0 0.125rem 0.5rem -0.125rem var(--color-shadow);
}

div.header > div.label {
  white-space: nowrap;
  font-weight: 700;
}

div.header > div.label,
div.row > div.data {
  min-width: 7ch;
  width: 100%;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.table > div.body {
  display: flex;
  flex-flow: column nowrap;
}

div.body > div.row {
  min-width: min-content;
  padding: 0.75rem;
  display: flex;
  flex-flow: row nowrap;
  transition: 75ms ease-in-out;
}

div.row:hover {
  background: var(--color-highlight);
}

div.controls {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

div.controls h2 {
  text-transform: capitalize;
}

div.header > div.label.sm,
div.row > div.data.sm {
  width: 7ch;
  min-width: 7ch;
  max-width: 7ch;
  overflow-x: hidden;
}

div.header > div.label.md,
div.row > div.data.md {
  width: 25ch;
  min-width: 25ch;
  max-width: 25ch;
  overflow-x: hidden;
}

div.header > div.label.left,
div.row > div.data.left {
  justify-content: flex-start;
}

div.header > div.label.center,
div.row > div.data.center {
  justify-content: center;
}

div.row:last-of-type {
  justify-content: center;
  font-weight: bold;
  font-size: 0.75rem;
  opacity: 0.5;
}
